<footer>
    <a class="userLink" href="/users">All users and account management</a>
    <a class="regLink" href="/register">Register now</a>
    <a class='searchLink' href='/allPosts'>All posts</a>
</footer>